@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css');
.map-container {
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 604px;
}

#map{
  height:600px;
}
