<div class="container" *ngIf="recipes">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Recette</th>
      <th scope="col">Pays d'origine</th>
      <th scope="col">Temps de préparation</th>
      <th scope="col">Temps de repos</th>
      <th scope="col">Temps de cuisson</th>
      <th scope="col">Ingredients</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let recipe of recipes; let index = index;">
      <th scope="row">{{index}}</th>
      <td><a (click)="goToRecipe(recipe)" class="link">{{recipe.name}}</a></td>
      <td>{{recipe.country}}</td>
      <td>{{recipe.preparation}}</td>
      <td>{{recipe.rest}}</td>
      <td>{{recipe.cooking}}</td>
      <td>
        <ul>
          <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient.quantities }} {{ ingredient.label }}</li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>
